h1{text-align: center; color: white; background-color: brown; width: 591px; height: 69px; margin-top: 46px; margin-left: 409px;}
.box{width: 1000px; height: 750px; margin-top: 193px; margin-left: 220px; border: 19px solid rgb(255, 0, 0);}
.box1{width: 93%; height: 300px; text-align: center ;padding-left: 50px; padding-top: 50px; border: 15px solid black; font-size: x-large; background-color: aqua;}
body{background-color: rgb(42, 42, 95);}